* { text-decoration: none;}
ul { list-style: none;}


p img { float:right;}
p img { float:left; margin-right: 50px;}
.thumbnail {float: left; width:110px; height:90px;margin:5px;}
.second_row { clear: left; margin-bottom: 2px;}
.third_row {clear:left;}
ul { margin:0; padding:0; overflow: hidden; background-color: #333; width:400px;}
li { float:left;}
li a { display: inline-block; color:white;
        text-align:center; padding:14px 16px;
        text-decoration: none;}
li a:hover { background-color: #111;}








